streamlit==1.39.0 
torch==2.4.1 
torchvision==0.19.1 
transformers==4.44.2 
ollama==0.3.3 
reportlab==4.2.2 
Pillow==10.4.0 
pandas==2.2.3 
numpy==1.26.4 
matplotlib==3.9.2 
seaborn==0.13.2 
scikit-learn==1.5.2 
opencv-python==4.10.0.84 
tqdm==4.66.5
google-generativeai